<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="main_content">
    <h2>Lista de dentistas cadastrados</h2>
    <table class="list-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CRO</th>
            <th>Data de nascimento</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Gênero</th>
            <th>Endereço</th>
            <th>Login</th>
            <th>Suspeito</th>
            <th>Opções</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dentista : ${listaDentistas}">
            <td th:text="${dentista.id}">ID</td>
            <td th:text="${dentista.nome}">Nome</td>
            <td th:text="${dentista.cro}">CRO</td>
            <td th:text="${dentista.dataNascimento}">Data de nascimento</td>
            <td th:text="${dentista.email}">Email</td>
            <td th:text="${dentista.cpf}">CPF</td>
            <td th:text="${dentista.telefone}">Telefone</td>
            <td th:text="${dentista.genero.titulo}">Genero</td>
            <td th:text="|${dentista.endereco.logradouro},${dentista.endereco.numero}
${dentista.endereco.complemento != null ? ' - ' + dentista.endereco.complemento : ''},
${dentista.endereco.bairro.nome}, ${dentista.endereco.bairro.cidade.nome} -
${dentista.endereco.bairro.cidade.estado.nome}, CEP: ${dentista.endereco.cep}|">
            </td>
            <td>
                <strong>Email:</strong> <span th:text="${dentista.login.email}"></span> <br>
                <strong>Senha:</strong> <span th:text="${dentista.login.senha}"></span>
            </td>
            <td th:text="${dentista.suspeito}">Suspeito</td>
            <td>
                <a th:href="@{/dentista/edicao/{id}(id = ${dentista.id})}">Editar</a>
                <a th:href="@{/dentista/deletar/{id}(id = ${dentista.id})}">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/footer.html :: footer}"></div>

</body>
</html>