<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Paciente</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="container mt-4">
    <h2 class="text-center mb-4">Cadastro de Paciente</h2>
    <form method="post" th:action="@{/paciente/cadastrar}" th:object="${paciente}">
        <div class="row g-3">

            <div class="col-md-6">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" th:field="*{nome}" required>
            </div>

            <div class="col-md-6">
                <label class="form-label">Data de Nascimento</label>
                <input type="date" class="form-control" th:field="*{dataNascimento}" required>
            </div>

            <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" th:field="*{email}" required
                       oninput="document.getElementById('loginEmail').value = this.value">
                <input type="hidden" th:field="*{login.email}" id="loginEmail">
            </div>

            <div class="col-md-6">
                <label class="form-label">Telefone</label>
                <input type="text" class="form-control" th:field="*{telefone}" required>
            </div>

            <div class="col-md-6">
                <label class="form-label">CPF</label>
                <input type="text" class="form-control" th:field="*{cpf}" required>
            </div>

            <div class="col-md-6">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" th:field="*{login.senha}" required>
            </div>

            <div class="col-md-6">
                <label class="form-label">Gênero</label>
                <select class="form-select" th:field="*{genero.titulo}">
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>

            <hr class="mt-4">
            <h4 class="text-center">Endereço</h4>
            <div class="col-md-6">
                <label class="form-label">Logradouro</label>
                <input type="text" class="form-control" th:field="*{endereco.logradouro}" required>
            </div>
            <div class="col-md-3">
                <label class="form-label">Número</label>
                <input type="text" class="form-control" th:field="*{endereco.numero}" required>
            </div>
            <div class="col-md-3">
                <label class="form-label">CEP</label>
                <input type="text" class="form-control" th:field="*{endereco.cep}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Complemento</label>
                <input type="text" class="form-control" th:field="*{endereco.complemento}">
            </div>
            <div class="col-md-6">
                <label class="form-label">Bairro</label>
                <input type="text" class="form-control" th:field="*{endereco.bairro.nome}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Cidade</label>
                <input type="text" class="form-control" th:field="*{endereco.bairro.cidade.nome}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Estado</label>
                <select class="form-select" id="siglaEstado" th:field="*{endereco.bairro.cidade.estado.sigla}">
                    <option value="">Selecione</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>

    </form>
</div>

<div th:if="${errors}" class="mt-3 alert alert-danger">
    <ul>
        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
    </ul>
</div>
</div>

<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>
