<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

    <div>
        <h2>Lista de pacientes cadastrados</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data de nascimento</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Gênero</th>
                    <th>Endereço</th>
                    <th>Login</th>
                    <th>Suspeito</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="paciente : ${listaPacientes}">
                    <td th:text="${paciente.id}">ID</td>
                    <td th:text="${paciente.nome}">Nome</td>
                    <td th:text="${paciente.dataNascimento}">Data de nascimento</td>
                    <td th:text="${paciente.email}">Email</td>
                    <td th:text="${paciente.cpf}">CPF</td>
                    <td th:text="${paciente.telefone}">Telefone</td>
                    <td th:text="${paciente.genero.titulo}">Genero</td>
                    <td>
                        <table>
                            <thead>
                            <tr>
                            <th>Logradouro</th>
                                <th>CEP</th>
                                <th>Número</th>
                                <th>Complemento</th>
                                <th>Bairro</th>
                                <th>Cidade</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${paciente.endereco.logradouro}"></td>
                                <td th:text="${paciente.endereco.cep}"></td>
                                <td th:text="${paciente.endereco.numero}"></td>
                                <td th:text="${paciente.endereco.complemento}"></td>
                                <td th:text="${paciente.endereco.bairro.nome}"></td>
                                <td th:text="${paciente.endereco.bairro.cidade.nome}"></td>
                                <td th:text="${paciente.endereco.bairro.cidade.estado.nome}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Senha</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${paciente.login.email}"></td>
                                <td th:text="${paciente.login.senha}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td th:text="${paciente.suspeito}">Suspeito</td>
                    <td>
                        <a th:href="@{/paciente/edicao/{id}(id = ${paciente.id})}">Editar</a>
                        <span> | </span>
                        <a th:href="@{/paciente/deletar/{id}(id = ${paciente.id})}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<div th:replace="~{fragments/footer.html :: footer}"></div>

</body>
</html>